<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @income_and_expense_item.title %>
</p>

<%= link_to 'Редактировать', edit_income_and_expense_item_path(@income_and_expense_item) %> 
